# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
terraform/.terraform.lock.hcl
terraform/lambda.zip
terraform/terraform.tfvars

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Test output
response.json
out.json
